.realisation-header {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 45px;
  }
}

//les réalisations
.realisations {
  &-container {
    max-width: 1012px;
    margin: 0 auto;
    padding: 0 1em;
  }

  &-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }
}


//une réalisation
.realisation {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 300px;
  border-radius: 3px;

  &-img {
    flex: none; //annule l'effet flex du parent
    height: 200px;
    overflow: hidden;

  
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      transition: filter .3s ease;
      

      &:hover {
        filter: brightness(0.7);
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.67em;
  }

  &-title {
    line-height: normal;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 23px;  
    transition: color .4s ease;
    a:hover {
      text-decoration: underline;
      color: #50667c;
    }
  }

  &-soustitre {
    line-height: normal;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: rgba(183, 181, 181, 0.958);  
  }

  &-desc {
    margin-bottom: 1.3em;
    text-align: center;
  }

  &-button {
    display: flex;
    justify-content: center;
    margin-top: auto;

    a {
      color: #fff;
      padding: 5px 2em;
      background-color: #141414;
      transition: background-color .3s ease-in-out;
      border-radius: 3px;
      

      &:hover {
        background-color: #3f3e3e;
      }
    }
  }
}

