footer {
    background-color: rgba(61, 61, 61, 0.21);
    bottom: 0;
    width: 100%;
    margin-top: 15px;
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    gap: 250px;
    align-items: center;

    &.footer-position {
        position: fixed;
    }

    .contain-left {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-size: 20px;
            text-transform: uppercase;

            &::after {
                content: "";
                height: 2px;
                width: 10px;
                margin: 10px auto;
                display: block;
                background-color: black;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 7px;
            font-size: 15px;

            a {
                color: rgb(66, 66, 66);
                transition: $transitionA;

                &:hover {
                    color: black;
                }
            }
        }

    }

}