.contain-log {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.log {
  max-width: 440px;
  width: 100%;
  max-height: 350px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border-radius: 5px;
  padding-top: 20px;
  border: 1px solid #00000047;

  &-title {
    h1 {
      color: #2c4155;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;

    .form-element {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 320px;

      label {
        font-size: 15px;
        margin-bottom: 5px;
      }

      input {
        height: 30px;
        padding: 5px 5px;
        border-radius: 3px;
        border: 1px solid #00000059;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:focus {
          box-shadow: 0 0 0 0.25rem rgba(75, 73, 73, 0.25);
          border-color: #545454;
          outline: none;
        }
      }
    }

    .form-element-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      max-width: 320px;
      width: 100%;

      input {
        border-radius: 3px;
        background-color: #334961;
        color: #fff;
        padding: 5px;
        width: 100%;
        text-align: center;
        font-size: 17px;
        border: 0;
        cursor: pointer;

        &:hover {
          background-color: #486077;
        }
      }
    }
  }
}

.form-errors {
  color: #fff;
  background-color: rgb(255, 0, 0);
  padding: 1em;
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.352);
}

.is-invalid {
  border-color: #dc3545 !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:focus {
      border-color: #dc3545 !important;
      box-shadow: 0 0 0 0.25rem rgba(220,53,69,.25) !important;
  }
}