.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.pagination {
    display: flex;

    li {
        a, span {
            display: inline-block;
            padding: 8px 12px;
            border: 1px solid rgba(0,0,0, 0.1);
            cursor: pointer;
        }
        a:hover {
            background-color: #eee;
            border-color: #ddd;
            color: #23527c;
        }
        
        &.active span {
            background-color: $defaultColor;
            border-color: $defaultColor;
            color: #fff;
        }

        .page-link {
            color: #72777a;
        }

        &.disabled {
            span, a {
                color: #999;
                cursor: not-allowed;
            }
        }
    }

    &-info {
        color: #72777a;
    }
}