.contact {
    padding: 4em 0;
    padding-top: 6em;

    .contact-container {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 10px;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            gap: 50px;
        }
    }



    &-about-me {
        width: 50%;

        @media screen and (max-width: 800px) {
            width: 100%;

            h1 {
                font-size: 35px !important;
            }
        }

        h1 {
            font-size: 45px;
            margin: 0;
            margin-bottom: 50px;

            &::after {
                content: "";
                height: 6px;
                width: 125px;
                margin: 15px 5px;
                display: block;
                background-color: black;
                border-radius: 10px;

                @media screen and (max-width: 800px) {
                    margin: 10px auto;

                    ul {
                        text-align: center;
                    }
                }
            }
        }

        @media screen and (max-width: 800px) {
            text-align: center;
        }

        li {
            font-size: 17px;
        }
    }

    &-form {
        margin-top: 15px;

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .form-element {
                display: flex;
                flex-direction: column;
                gap: 5px;

                label {
                    font-size: 18px;
                    font-weight: 500;
                }

                input {
                    width: 100%;
                    height: 30px;
                    padding: 15px 10px;
                    border-radius: 3px;
                    border: 1px solid transparent;
                    //transition: border 0.3s ease-in-out;
                    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                }

                textarea {
                    border-radius: 3px;
                    padding: 5px 10px;
                    resize: none;
                    border: 1px solid transparent;
                    font-family: Arial, Helvetica, sans-serif;
                    //transition: border 0.3s ease-in-out; // agrandir les label et la taille des input
                }

                input:focus,
                textarea:focus {
                    box-shadow: 0 0 0 0.25rem rgba(75, 73, 73, 0.25);
                    border-color: #545454;
                    outline: none;
                }
            }

            .form-element-button {
                margin-top: 10px;

                input {
                    font-size: 15px;
                    font-weight: 400;
                    padding: 7px 15px;
                    border: none;
                    cursor: pointer;
                    color: #fff;
                    background-color: rgb(60, 60, 60);
                    border-radius: 5px;
                    transition: background-color 0.20s ease-in-out;

                    &:hover {
                        background-color: #636363;
                    }
                }

                @media screen and (max-width: 800px) {
                    input {
                        display: block;
                        margin: 0 auto;
                        font-size: 20px;
                        padding: 10px 50px;
                    }
                }
            }
        }
    }

}

.is-invalid {
    border-color: #dc3545 !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:focus {
        border-color: #dc3545 !important;
        box-shadow: 0 0 0 0.25rem rgba(220,53,69,.25) !important;
    }
}

.form-error {
    font-size: 14px;
    color: #dc3545  ;
}

.form-success {
    background-color: rgba(0, 173, 43, 0.274);
    padding: 10px;
    border: 1px solid rgba(150, 150, 150, 0.622);
    border-radius: 3px;
    color: rgba(4, 85, 4, 0.751);
}