.hero {
    width: 100%;
    height: 95vh;
    max-height: 95vh;

    background: linear-gradient(rgba(0, 0, 0, 0.295), rgba(22, 22, 22, 0.822)), url('../../public/img/pc.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 800px) {
        &-inner {
            h1 {
                font-size: 60px !important;
            }

            p{
                font-size: 20px !important;
            }
        }

        a{
            padding: 5px 25px !important;
            font-size: 18px !important;
        }
    }

    @media screen and (max-width: 350px) {
        &-inner {
            h1 {
                font-size: 40px !important;
            }

            p {
                font-size: 15px !important;
            }
        }
    }

    &-inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #fff;

        h1 {
            font-size: 105px;
            text-transform: uppercase;
            margin: 0;
        }

        p {
            font-size: 25px;
        }
    }

    a {
        background-color: #1f2c37;
        padding: 10px 45px;
        border-radius: 5px;
        color: #fff;
        font-size: 20px;
        transition: background-color 0.5s ease;

        &:hover {
            background-color: #2f404f;
        }

    }

}